

@import '@/assets/fonts/flaticon/flaticon.css';
@import '@/assets/fonts/icofont/icofont.min.css';
@import '@/assets/fonts/fontawesome/fontawesome.min.css';
@import '@/assets/vendor/venobox/venobox.min.css';
@import '@/assets/vendor/slickslider/slick.min.css';
@import '@/assets/vendor/niceselect/nice-select.min.css';
@import '@/assets/vendor/bootstrap/bootstrap.min.css';
@import '@/assets/css/main.css';
@import '@/assets/css/home-category.css';
@import '@/assets/css/user-auth.css';


.swiper-button-prev::after,
.swiper-button-next::after{
  color: #000;
  font-size: 16px !important;
  font-weight: 900 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
}

.new-slider .swiper-button-prev,
.new-slider .swiper-button-next{
    background-color: #a1a1a1;
}